nav{
	margin-top: 10px;
	margin-left: 290px;
 	 
}
a {
  padding: 0px 5px;
  text-decoration: none;
  color:#C9C9C9 ;
  font-size: 18px;
  font-weight

 }
.button1{
	height:30px;
	width:100px;
	background-color: gray;
	margin: 5%;
	border-radius: 20%;
	color: #FFFFFF;
}

.button2{
	height:30px;
	width:100px;
	background-color: gray;
	margin: 5%;
	border-radius: 20%;
	color: #FFFFFF;
	margin: 60px 540px;
	
}
.button3{
	height:20px;
	width:80px;
	background-color: gray;
	
	border-radius: 20%;
	color: #FFFFFF;
	margin: 0px 40px;

}

.fondo{
	background-color:black;
}

.tama{
	width: 620px;
	height: 350px;

}
.ponrleinline{
	display: inline-block;
	font-size: 12px; 
	margin-left: 10px;
}
.moverpa{
	margin-left: 300px;
	margin-top: -20px;
}
header{
	margin: 30px 40px;
}
section{
	margin: 30px 40px;

}
hr{
	border: 0; 
	border-top: 1px solid #999;
	border-bottom: 1px solid #333; 
	height:0%;
	width: 100%;
}
footer{
	background-color: black;
	height: 440px;
	margin: 30px 40px;
}
.letraschiquitas{
	font-size: 15px;
}
.moverlogo{
	margin-left: 40px;
}
.figuras{
	width: 2%;
	left: 500px;
}


